@charset "ISO-8859-1";


/*for ticket table*/
.cg{
	 padding: 30px;
	 border-radius: 10px;
	 box-shadow: 0px 0px 10px 0px #000;
	 
}

/*for form*/
.bg{
	 background-color: lightblue;
	 padding: 30px;
	 border-radius: 10px;
	 box-shadow: 0px 0px 10px 0px #000;
}

.c{
    width:300px;
    height:300px;
    position:fixed;
    margin-left:-300px; 
    margin-top:-150px;  
    top:50%;
    left:50%;
}

/*for buttons*/
.style { 
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
